
.main__section1 {
    max-width: 1110px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.main__section1 img {
    max-width: 100%;
    grid-column: 6 span;
}
.section-right {
    grid-column: 6 span;
}

.section-right {
    padding: 144px 0;
}


.main__h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
    margin-bottom: 20px;
}

.span-h1 {
    color: #598D66;
}

.main__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    margin-bottom: 60px;
}

.main__btn {
    background: none;
    border: 1px solid #598d66;
    padding: 20px 60px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
}

.main__btn:hover {
    background: #376B44;
    border: none;
    color: #FFFFFF;
}

/* каталог репродукций */
.reproductions {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 70px;
}

.reproductions__select {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.reproductions__select h3 {

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}

.select {
    display: flex;
    gap: 32px;
}
.countries {
    height: 43px;
    padding: 10px 20px;
    background: var(--light-green);
    border: none;
    border-radius: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}
.countries:hover {
    background: var(--dark-green);
    color: #FFFFFF;
}

.cards-reproduction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.visible {
    display: none;
}

.card-item {
    box-sizing: border-box;
    padding: 20px;
    background: var(--light-green);
}

.card-item img {
    width: 100%;
}

.author {
    margin: 20px 0 10px 0;
    font-size: 18px;
    color: #86928b;
}
.card-name {
    font-size: 30px;
    color: #2c2d35;
    margin-bottom: 8px;
    white-space: nowrap;
}

.character {
    font-size: 18px;
    color: #2c2d35;
    margin-bottom: 30px;
    
}

.price {
    font-size: 24px;
    color: #598d66;
    margin-bottom: 20px;
}

.card-btn {
    width: 100%;
    border: 1px solid #598d66;
    padding: 20px 0;
    background: none;
    font-size: 20px;
    color: #598d66;
}
.card-btn:hover {
    border: none;
    background: var(--dark-green);
    color: #FFFFFF;
}

/* section PROMO */
.promo {
    background-image: url("/pictures/rep1/pic_background.png");
}

.promo__wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 70px 15px;
}

.promo-star {
    display: flex;
    align-items: center;
}
.promo-star h3 {
    font-size: 40px;
    line-height: 100%;
    color: #f4f6f5;
}
.promo__text {
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.promo__btn {
    margin-top: 60px;
    background: #EEDB6D;
    border: none;
    padding: 21px 60px;
    font-size: 20px;
    color: #2c2d35;
}

/* section team */
.team {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    padding: 70px 15px;
}

.team-left {
    grid-column: 5 span;
}
.team-left img {
    max-width: 100%;
}


.team-wrapper {
    grid-column: 7 span;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 124px;
}

.team__name {
    margin: 0;
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}

.team__text {
    font-size: 18px;
    line-height: 150%;
    color: #2c2d35;
}

.team__icons {
    display: flex;
    gap: 30px;
}


@media (max-width: 768px) {
    .promo__wrapper {
        padding: 70px 39px;
    }
    .reproductions {
        padding: 0 39px;
    }
    .reproductions__select h3 {
        font-size: 30px;
        line-height: 110%;
    }

    .cards-reproduction {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

    .main__h1 {
        font-size: 40px;
        line-height: 100%;
    }
    .section-right {
        padding: 35px 0;
    }
    
}

@media (max-width: 690px) {
    .cards-reproduction {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .author {
        font-size: 16px;
    }
    .card-name {
        font-size: 24px;
    }
    
    .character {
        font-size: 16px;
        min-height: 37px;
        margin-bottom: 11px;
    }
    
    .price {
        font-size: 20px;
    }
    
    .card-btn {
        font-size: 18px;
    }

    .reproductions__select {
        display: block;
    }
    .promo-star {
        gap: 20px;
    }

    .promo-star h3 {
        font-size: 24px;
        line-height: 100%;
        color: #f4f6f5;
    }
    .promo__text {
        font-size: 16px;
    }
    .promo__btn {
        margin-top: 20px;
        padding: 14px 33px;
        font-size: 18px;
    }


    .team-left {
        grid-column: 9 span;
    }
    .team-wrapper {
        grid-column: 12 span;
    }
}

@media (max-width: 576px) {
    .main__section1 {
        margin: 50px 0;
    }

    .section-right {
        padding: 0;
    }

    .main__h1 {
        font-size: 36px;
        margin: 0;
        margin-bottom: 10px;
    }

    .span-h1 {
        font-size: 36px;
    }
    
    .main__text {
        font-size: 16px;
        margin: 0;
        margin-bottom: 11px;
    }

    .main__btn {
        padding: 14.5px 41px;
        font-size: 18px;
    }
    .main__section {
        box-sizing: border-box;
        padding: 0 33px;
    }


}


@media (max-width: 460px) {
    .main__section1 img {
        display: none;
    }
    .main__section1 {
        padding: 0 15px;
        grid-template-columns: 1fr 1fr;
    }

    .section-right {
        grid-column: 2 span;
    }
}